<ng-container *ngIf="currentFit | async as fit">
    <mdb-card>
        <mdb-card-img style="width: 22rem" [src]="fit.photo"></mdb-card-img>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="uploadPhoto($event)">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>

        <mdb-card-body *ngIf="currentFighter | async as fighter">
            <mdb-card-title>
                <h4>{{ fighter.username }} </h4>
            </mdb-card-title>
            <h5>{{ title }}</h5>
            <mdb-card-text> {{ fighter.powers }} </mdb-card-text>
            <h5> {{ (votes | async)?.length }} </h5>
            <a class="btn btn-primary waves-light" mdbWavesEffect (click)="vote()">Vote</a>
        </mdb-card-body>
    </mdb-card>
</ng-container>